img {
    border-radius: 50%;
  }

body {
  font-family: comfortaa;
  background-image: url("background.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;  
}
h2{
  color: rgb(136, 63, 3);
}
li {
  list-style: disc; /* Remove list bullets */
  padding: 10;
  margin: 0;
  display: inline;
  
}

listcss{
  list-style-type:circle
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;   /* Height of the footer */
  background: none;
}
.contact {
  display: inline-block;
  background-color: rgb(79, 223, 215);
  padding: 8px 2rem;
  text-decoration: none;
  color: #4a5568;
  border-radius: 99rem;
  border: 2px solid #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  transition: .25s ease;
}

.contact1 {
  display: inline-block;
  background-color: rgb(223, 209, 79);
  padding: 8px 2rem;
  text-decoration: none;
  color: #4a5568;
  border-radius: 99rem;
  border: 2px solid #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  transition: .25s ease;
}
